.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background: linear-gradient((-120deg, #16181a, #525753, #5e5c58, #0f0c0c));
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    // background-color: white;
    // color: black;
    background: linear-gradient((-120deg, #282c31, #99a19b, #8d8b85, #0f0b0b));
    // border: 1px solid black;
  }
  &.google-sign-in {
    background: linear-gradient((-120deg, #1667eb, #0c7428, #ac8203, #e9210e));
    color: white;

    &:hover {
      background: linear-gradient(
        (-120deg, #4285f4, #34ab53, #fbbc05, #ea4335)
      );
      border: none;
    }
  }
}
