.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  background: linear-gradient((-120deg, #b9bcc0, #bcc4bd, #b4b2ac, #a8a4a4));

  &:hover {
    background: linear-gradient((-120deg, #888a8d, #8c928d, #8a8883, #746f6f));
  }
  .shopping-icon {
    width: 30px; //24px
    height: 30px; //24px
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    color: #8c928d;
  }
}
