.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #302f2f;

  &:hover {
    color: #141414;
  }
  .shopping-icon {
    width: 30px; //24px
    height: 30px; //24px
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    color: #f8faf8;
  }
}
