// Image Attibutions below:
//
// 1. puzzles cover image: https://unsplash.com/photos/Ui0NB808A1k?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
// 2. photo cards cover image: https://unsplash.com/photos/EvBPSTn-p5U?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
// 3. mini book cover image: https://unsplash.com/photos/XlEOtMs7f9o?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
// 4. photo prints cover image: https://unsplash.com/photos/ZvZ1b4d7Hws?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
//
.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
